<div class="jumbo">
    <div class="jumbo-content">
        <section class="products">
            <h2>Produits Populaires</h2>
            <div class="product-grid">
                <div class="card" routerLink="/product">
                    <img src="../../../../../assets/jumbo2.png" alt="Pain Sourdough">
                    <div class="info">
                      <h3>Pain Sourdough</h3>
                      <p>5.900 FCFA</p>
                    </div>
                </div>
                <div class="card" routerLink="/product">
                    <img src="../../../../../assets/jumbo3.png" alt="Croissant Classique">
                    <div class="info">
                      <h3>Croissant Classique</h3>
                      <p>2.500 FCFA</p>
                    </div>
                </div>
                <div class="card" routerLink="/product">
                    <img src="../../../../../assets/jumbo4.png" alt="Cookie Choco">
                    <div class="info">
                      <h3>Cookie Choco</h3>
                      <p>1.750 FCFA</p>
                    </div>
                </div>
                <div class="card" routerLink="/product">
                    <img src="../../../../../assets/jumbo5.png" alt="Roll Cannelle">
                    <div class="info">
                      <h3>Roll Cannelle</h3>
                      <p>3.000 FCFA</p>
                    </div>
                </div>
            </div>
        </section>
        
        <section class="promotions">
            <h2>Notre Promotion</h2>
            <div class="promo-grid">
              <div class="promo" routerLink="/promotion">
                <span class="discount">20%</span>
                <div>
                    <h4>Combo Café du Matin</h4>
                    <p>Profitez de 20% de réduction sur tout café avec une pâtisserie. <br><em>Se termine aujourd’hui</em></p>
                </div>
              </div>
              <div class="promo" routerLink="/promotion">
                <span class="discount">15%</span>
                <div>
                    <h4>Offre Pain du Week-end</h4>
                    <p>Achetez deux pains, obtenez 15% de réduction sur le deuxième. <br><em>Se termine dimanche</em></p>
                </div>
              </div>
            </div>
        </section>
    </div>
</div>