<footer class="footer">
    <nav>
      <a routerLink="/home">Home</a>
      <a routerLink="/menu">Menu</a>
      <a routerLink="/promotion">Promotion</a>
      <a routerLink="/about">A propos</a>
      <a routerLink="/contact">Contact</a>
      <a routerLink="/gallery">Gallery</a>
      <a routerLink="/delivery"> Politique de Livraison & Retours</a>
      <a routerLink="/conditions">Conditions d'utilisation</a>
      <a routerLink="/confidentialite">Politique de Confidentialité</a>
    </nav>
    <p>© 2025 NdewePain. Tous droits réservés.</p>
</footer>