<header class="header-menu">
    <app-header></app-header>
</header>

<div class="payment">
  <main class="payment-container">
    <h1>Méthode de paiement</h1>
    <p class="subtitle">Sélectionnez comment vous souhaitez régler vos gourmandises artisanales.</p>

    <form (ngSubmit)="confirmPayment()">
      <!-- Options dynamiques -->
      <label *ngFor="let option of paymentOptions" class="payment-option"
             [class.selected]="selectedPayment === option.value">
        <input type="radio" name="payment" [value]="option.value" [(ngModel)]="selectedPayment">
        <div class="icon"><i class="fas" [ngClass]="option.icon"></i></div>
        <div class="info">
          <h3>{{ option.title }}</h3>
          <p>{{ option.description }}</p>
        </div>
        <span class="radio-check"></span>
      </label>

      <div class="payment-btn">
        <button type="submit" class="btn-confirm">Confirmer et payer</button>
      </div>
    </form>

  </main>
  
</div>


<footer class="footer-menu">
    <app-footer></app-footer>
</footer>

