<div class="header">
   <div class="container_header">
        <div class="header_content">
            <!-- LOGO -->
            <div class="header_logo">
                <img src="../../../assets/logo.png" alt="Logo NdewePain">
            </div>

            <!-- HAMBURGER (mobile) -->
            <div class="hamburger" (click)="toggleMenu()">
                <i class="fa fa-bars"></i>
            </div>

            <!-- MENU -->
            <div class="header_menu" [class.active]="menuOpen">
                <ul class="header_menu_list">
                    <li><a routerLink="home">Home</a></li>
                    <li><a routerLink="/promotion">Promotion</a></li>
                    <li><a routerLink="services">Services</a></li>
                    <li><a routerLink="contact">Contact</a></li>
                    <li><a routerLink="blog">Blog</a></li>
                    <li><a routerLink="/gallery">Gallery</a></li>
                    <li class="header_menu_list_cart">
                        <i routerLink="contact" class="fa fa-envelope"></i>
                    </li>
                    <li class="header_menu_list_cart">
                        <i routerLink="cart" class="fa fa-shopping-cart"></i>
                    </li>
                    <li class="header_menu_list_login">
                        <a routerLink="login">Login</a>
                    </li>
                </ul>
            </div>
        </div>
  </div>
</div>
