<div class="home_header">
    <app-header></app-header>
</div>
<main class="home_main">
    <div class="home_main_hero">
        <app-hero></app-hero>
    </div>
    <div class="home_main_jumbo">
        <app-jumbo></app-jumbo>
    </div>
    <div class="home_main_blog">
        <app-blog></app-blog>
    </div>
    <div class="home_main_sgroup">
        <app-sgroup></app-sgroup>
    </div>
    <div class="home_main_contact">
        <app-contact></app-contact>
    </div>
</main>
<div class="home_footer"> 
    <app-footer></app-footer>
</div>