<header class="header-menu">
  <app-header></app-header>
</header>

<div class="checkout">
  <main class="checkout-container">
    <!-- Colonne gauche -->
    <section class="order-summary">
      <h1>Passer la commande</h1>
      <h2>Résumé de votre commande</h2>
      <div class="cart-actions">
        <button type="button" class="btn-clear" (click)="clearCart()">
          <i class="fa fa-trash"></i> Vider le panier
        </button>
      </div>

      <!-- Produits dynamiques -->
      <div class="order-item" *ngFor="let item of cart?.data?.items">
        <img [src]="item.photo_url || '../../../../assets/painBlog.png'" [alt]="item.nom_produit">
        <div class="item-info">
          <h3>{{ item.nom_produit }}</h3>
          <p>Quantité : {{ item.quantite }}</p>
          <small *ngIf="item.personnalisation">Option : {{ item.personnalisation }}</small>
        </div>
        <div class="item-price">
          {{ item.total | number:'1.0-0' }} FCFA
          <br>
          <span>{{ item.prix_unitaire | number:'1.0-0' }} FCFA / pièce</span>
        </div>
      </div>

      <!-- Livraison & Pickup
      <h2>Livraison ou Retrait</h2>
      <div class="delivery-options">
        <label class="option selected">
          <input type="radio" name="delivery" checked>
          <div>
            <h4>Livraison</h4>
            <p>Recevez vos produits directement à domicile.</p>
          </div>
          <span class="price">2 500 FCFA</span>
        </label>

        <label class="option">
          <input type="radio" name="delivery">
          <div>
            <h4>Retrait en Boulangerie</h4>
            <p>Récupérez votre commande sur place.</p>
          </div>
          <span class="price">Gratuit</span>
        </label>
      </div>  -->

      <!-- Livraison & Pickup -->
      <h2>Livraison ou Retrait</h2>
      <div class="delivery-options">
        <label class="option">
          <input type="radio" name="delivery" value="livraison"
                [checked]="cart?.data?.mode_livraison === 'livraison'"
                (change)="choisirLivraison('livraison')">
          <div>
            <h4>Livraison</h4>
            <p>Recevez vos produits directement à domicile.</p>
          </div>
          <span class="price">2 500 FCFA</span>
        </label>

        <label class="option">
          <input type="radio" name="delivery" value="retrait"
                [checked]="cart?.data?.mode_livraison === 'retrait'"
                (change)="choisirLivraison('retrait')">
          <div>
            <h4>Retrait en Boulangerie</h4>
            <p>Récupérez votre commande sur place.</p>
          </div>
          <span class="price">Gratuit</span>
        </label>
      </div>


      <!-- Créneau horaire -->
      <h2>Choisissez un créneau</h2>
      <select class="time-slot">
        <option>Aujourd’hui, 14h00 - 15h00</option>
        <option>Aujourd’hui, 16h00 - 17h00</option>
        <option>Demain, 10h00 - 11h00</option>
      </select>
      
    </section>

    <!-- Colonne droite -->
    <aside class="checkout-summary">
      <h2>Total</h2>
      <div class="summary-row">
        <span>Sous-total</span>
        <span>{{ cart?.meta?.totals?.sous_total | number:'1.0-0' }} FCFA</span>
      </div>
      <div class="summary-row">
        <span>Livraison</span>
        <span>{{ cart?.meta?.totals?.frais_livraison | number:'1.0-0' }} FCFA</span>
      </div>
      <div class="summary-row discount" >
        <span>Réduction</span>
        <span>- {{ cart?.meta?.totals?.remise | number:'1.0-0' }} FCFA</span>
      </div>
      <div class="summary-row total">
        <span>Total à payer</span>
        <span>{{ cart?.meta?.totals?.total | number:'1.0-0' }} FCFA</span>
      </div>

      <!-- Code promo -->
      <div class="discount-code">
        <input type="text" placeholder="Code promo" [(ngModel)]="promo_code">
        <button type="submit" (click)="promo(promo_code)">Appliquer</button>
      </div>

      <!-- Paiement -->
      <div class="pay">
        <button type="submit" class="btn-pay" (click)="onSubmit()">Commandez</button>
      </div>

      <!-- Loader -->
      <div class="loader" id="payment-loader">
        <div class="spinner"></div>
        <p>Traitement du paiement...</p>
      </div>

    </aside>

  </main>

  <div *ngIf="message" class="alert success">
    {{ message }}
  </div>
  <div *ngIf="error" class="alert error">
    {{ error }}
  </div>

</div>

<footer class="footer-menu">
  <app-footer></app-footer>
</footer>