<div class="hero">
  <div class="hero-content">
    <h1>Pain Frais & Pâtisseries Artisanales</h1>
    <p>
      Chez Ndéwé Pain, nous préparons chaque jour nos recettes avec amour et des ingrédients de qualité, 
      pour partager avec vous la chaleur, la fraîcheur et la tradition artisanale.
    </p>
    <a href="#" class="btn-order"> Commander Maintenant</a>
  </div>

  <!-- Dots (pagination du slider) -->
  <div class="hero-dots">
    <span class="dot active"></span>
    <span class="dot"></span>
    <span class="dot"></span>
  </div>
</div>
