<header class="legal-header">
    <app-header></app-header>
</header>
<div class="legal">
    <main class="legal-container">
        <header>
            <h1>Mentions Légales & Politique de Confidentialité</h1>
            <p class="last-updated">Dernière mise à jour : 26 août 2025</p>
        </header>

        <section class="legal-section">
            <h2>Informations Légales</h2>
            <p>
            Ce site internet est édité par <strong>NdewePain</strong>, située au 
            <em>123 Rue Principale, 75000 Paris, France</em>.  
            Pour toute demande, vous pouvez nous contacter par e-mail à 
            <a href="mailto:contactndewepain.com">contactndewepain.com</a> 
            ou par téléphone au <a href="tel:+221784504623">+221 78 450 46 23</a>.
            </p>
        </section>

        <section class="legal-section">
            <h2>Propriété Intellectuelle</h2>
            <p>
            L’ensemble du contenu présent sur ce site (textes, images, logos, design, etc.) 
            est la propriété exclusive de <strong>NdewePain</strong> 
            et est protégé par les lois en vigueur sur le droit d’auteur et la propriété intellectuelle.  
            Toute reproduction ou utilisation non autorisée est strictement interdite.
            </p>
        </section>

        <section class="legal-section">
            <h2>Politique de Confidentialité</h2>
            <p>
            Nous respectons votre vie privée. Cette politique de confidentialité explique 
            comment nous collectons, utilisons et protégeons vos données personnelles.  
            En utilisant ce site, vous acceptez les conditions de notre Politique de Confidentialité.
            </p>
        </section>

        <section class="legal-section">
            <h2>Cookies & RGPD</h2>
            <p>
            Ce site utilise des cookies afin d’améliorer votre expérience de navigation.  
            Nous respectons le Règlement Général sur la Protection des Données (RGPD) en matière de consentement et de sécurité.  
            Vous pouvez gérer vos préférences de cookies directement dans les paramètres de votre navigateur.
            </p>
        </section>
    </main>
    <footer>
        <app-footer></app-footer>
    </footer>
</div>